header{
  background-color: grey;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

header > .header-sect{
  width: calc(100%/3);
}

@media (max-width: 768px) {
  .header-section > div {
      width: 100%;
      text-align: center;
  }
}

#submitSearch{
  width: 5%;
  padding-right: 4em;
}

#dashboard{
    background-color: grey;
    width: 10%;
}

.legoDiv{
    background-color: grey;
    border-radius: 1em;
}

details > button{
    list-style: none;
}

  details > summary::-webkit-details-marker {
    display: none;
  }

details > p{
    background-color: #ddd;
    padding: 0.125em 0.375em;
    margin: 0;
    box-shadow: 0.1875em 0.1875em 0.25em black;
}

#SellMyLego{
  background-color: grey;
  display: grid;
  grid-template-columns: 20%;
  grid-gap: 0.25em;
  border: black thin solid;
  margin-right: 50%;
}

#Submit{
  width: 90%;
}

input{
  width: 15em;
}

#QuantStock{
  width: 5em;
}

