/* this is for the index.html page. */
body{
    color: black
}

#greeting{
    position: absolute;
    left: 25em;
    top: 0.6em;
}

#adminBtn{
    position: absolute;
    top: 0.6em;
    left: 16em;
}

#login{
    position: absolute;
    top: 0.6em;
    right: 7em;
}

#logout{
    position: absolute;
    top: 0.6em;
    right: 0.6em;
}

#settingsBar{
    position: absolute;
    right: 1em;
    /* right: 0em; */
    /* position: relative; */
}

.b-Brick{
    width: 100%;
    height: 30em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

#filter{
    display: inline-box;

}

#co-basket{
    width: 1em;
}

.legoHolder{
    background-color: rgb(170, 165, 165);
    padding: 3em;
    border-radius: 0.2em;
    border: black thin solid;
}

#searchEngine{
    width: 1em;
}

#sect1, section{
    background-color: grey;
    padding: 1em;
    
}

#login, #logout{
    height: 2em;
}

.BtnImg{
    height: 1em;
}

.brickable{
    width: 10em;
    border: black thin solid;
    border-radius: 1em;
}

#main{
    display: grid;
    grid-template-columns: repeat(5, 15em);
    
}

.navigationGuide{
    background-color: grey;
    text-align: center;
    
}

summary{
    cursor: pointer;
}

.brickImage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.viewMe:hover{
    background: red;
    color: white;
}
