/* this is for the index.html page. */

.b-Brick{
    width: 100%;
    height: 30em;
}

#HoldingBtns{
    background-color: black;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 2em);
}




.BtnFace{
    display: inline;
}

#filter{
    display: inline-box;
}

#co-basket{
    width: 1em;
}

.legoHolder{
    background-color: rgb(170, 165, 165);
    padding: 3em;
    border-radius: 0.2em;
    border: black thin solid;
}

#searchEngine{
    width: 1em;
}

section, #sect1{
    background-color: grey;
    
}

#logOut, #loginBtn{
    height: 1em;
}

.brickable{
    width: 10em;
    border: black thin solid;
    border-radius: 1em;
}

#main{
    display: grid;
    grid-template-columns: repeat(5, 15em);
}

