/* this is for the index.html page. */
body{
    background-image: url('https://media.istockphoto.com/vectors/brick-wall-vector-id503260737?b=1&k=20&m=503260737&s=170667a&w=0&h=zxFKEm2ulkaSdkbEblf766Cw5y3-hw465K0yGi3JC1M=');
    background-size: 100%;
    color: white;
}

.b-Brick{
    width: 100%;
    height: 30em;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

#filter{
    display: inline-box;
}

#co-basket{
    width: 1em;
}

.legoHolder{
    background-color: rgb(170, 165, 165);
    padding: 3em;
    border-radius: 0.2em;
    border: black thin solid;
}

#searchEngine{
    width: 1em;
}

section, #sect1{
    background-color: grey;
    
}

#login, #logout{
    height: 2em;
}

.BtnImg{
    height: 1em;
}

.brickable{
    width: 10em;
    border: black thin solid;
    border-radius: 1em;
}

#main{
    display: grid;
    grid-template-columns: repeat(5, 15em);
}

.navigationGuide{
    background-color: grey;
    text-align: center;
    
}

summary{
    cursor: pointer;
}
