/* this is for the index.html page. */
body {
    color: black
}

#adminBtn{
    position: absolute;
    top: 0.6em;
    left: 16em;
}

#login{
    position: absolute;
    top: 0.6em;
    right: 7em;
}

#logout{
    position: absolute;
    top: 0.6em;
    right: 0.6em;
}

#BasketBar{
    top: 3em;
    right: 0;
    position: absolute;
}

#filterParent>#sect1{
    grid-area: head;
    background-color: #8ca0ff;
}

.b-Brick{
    width: 100%;
    height: 30%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

#filter{
    display: inline-box;

}

#co-basket{
    width: 1em;
}

.legoHolder{
    background-color: rgb(170, 165, 165);
    /* padding: 1.5em; */
    border-radius: 0.2em;
    border: black thin solid;
}

#searchEngine{
    width: 1em;
}

#sect1{
    display: flex;
}

#sect1, section{
    background-color: grey;
    padding: 1em;
    
}

#login, #logout{
    height: 2em;
}

.BtnImg{
    height: 1em;
}

.brickable{
    width: 10em;
    border: black thin solid;
    border-radius: 1em;
}

#main{
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: ; */
    grid-template-areas: "head head head";
                         /* "master master other" */
                         /* "another lowermaster lowermaster"; */
    height: 100vh;
    width: 100vw;
}

.navigationGuide{
    background-color: grey;
    text-align: center;
}

summary{
    cursor: pointer;
}

.brickImage{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.viewMe:hover{
    background: red;
    color: white;
}

.HoldMyItems{
    float: right;
    border: thick solid black;
    border-radius: 1em;
    
}
